
<div id="main-content" class="grid_12">
  <h2>FAQ</h2>
  <div id="faq-set-wrapper" class="grid_6 push_2 alpha">
    <dl>
      <dt id="what-is-natus">What is Natus?</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
      <dt id="what-is-natus">What JavaScript engines does it support?</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
      <dt id="what-is-natus">Does it support Common.JS?</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
    </dl>
  </div>
  <!-- end faq set wrapper-->
  <div id="faq-quicklist" class="grid_4 push_2 omega">
    <ul>
      <li><a href="#what-is-natus">What is Natus?</a></li>
      <li><a href="http://example.com/">What JavaScript engines does it support?</a></li>
      <li><a href="http://example.com/">Does it support common JS?</a></li>
      <li><a href="http://example.com/">Can I install it on [PLATFORM]?</a></li>
      <li><a href="http://example.com/">How can I get it?</a></li>
      <li><a href="http://example.com/">How can I contribute?</a></li>
    </ul>
  </div>
</div>
