<div id="homepage-title-bar" class="grid_11 push_1">
  <img src="images/natty_home.jpg" class="puffin" />
  <small class="subtitle">The missing link in the JavaScript ecosystem</small>
  <h1 class="homepage">natus</h1>
  <small class="pronunciation">(NAH-toose)</small>
</div>
<div id="three-reasons" class="grid_12">
  <div id="left-homepage-box" class="grid_4 alpha">
    <h2>Have a shell</h2>
    <div class="terminal">
      <small id="terminal-standard" class="terminal">Natus v<%= NATUS_CORE_VERSION %> - Using: JavaScriptCore</small>
      <small id="terminal-input" class="terminal">&gt;&gt;&gt;alert('hello, world!');</small>
      <small id="terminal-output" class="terminal">hello, world!</small>
    </div>  
  </div>
  <div id="middle-homepage-box" class="grid_4">
    <h2>Keep the sandbox</h2>
    <ul>
      <li>Keep the strong security JavaScript is famous for</li>
      <li>Create whitelists of functions and modules</li>
    </ul>        
  </div>
  <div id="right-homepage-box" class="grid_4 omega">
    <h2>Code with ease</h2>
  </div>
</div>

